@media (max-width: 1000px) {  
    .header {
        .header-wrap {
            flex-direction: column;
            padding:0 15px !important;
        }
    }

    .example-hero {
        padding:30px 15px !important;
    }

    .contain {
        padding:0 15px !important;
    }

    .readmeContainer {
        padding:30px 15px !important;
    }

    .section {
        .group {
            display:block !important;
            
            .sk {
                border-left:0 !important;
                border-bottom:1px solid #ddd !important;
            }
        }
    } 
}
